body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 20%;
    height: 50%;
    border: 3px solid red;
    display: grid;
    grid-template-rows: 1.5fr, repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.buttons {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    margin: 5px;
    border: 1px solid grey;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column-start: span 4;
    order: 0;
}

#button-0{
    grid-column-start: span 2;
}