body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 20%;
    height: 50%;
    border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.buttons {
    border: 1px solid green;
}

#display {
    grid-column-start: span 4;
    order: 0;
}

#button-0{
    grid-column-start: span 2;
}